<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Hardlee Automation</title>
    {% endblock %}
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>
  <body>
  <div class="w3-container w3-teal" id="main-div">

    {% block sidebar %}
      <!-- insert default navigation text for every page -->
    {% endblock %}
    {% block content %}
      <!-- default content text (typically empty) -->
    {% endblock %}
  </div>
  </body>
</html>
