<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome To Hardlee Automation</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    const devicesSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/devices/'
    );
    function setup_ws()
    {
        devicesSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if("rf_outlet_status" in data)
            {
                var outlet = data.rf_outlet_status;
                var outlet_str = (outlet.is_on ? 'On' : 'Off');
                document.getElementById("rf_outlet_state_" + outlet.id).textContent = outlet_str;
            }
            else if("rgb_light_status" in data)
            {
                var light = data.rgb_light_status;
                var light_str = (light.is_on ? 'On, ' : 'Off, ') + "red=" + light.red + ", green=" + light.green
                    + ", blue=" + light.blue;
                document.getElementById("rgb_light_state_" + light.id).textContent = light_str;
            }
            else if("mqtt_garage_update" in data)
            {
                console.log("GOT GARAGE UPDATE!");
                console.log(data);
                document.getElementById("garage-status").textContent = "Garage Status: " + data.mqtt_garage_update.status;
            }
        };
    }

    devicesSocket.onclose = function(e) {
        console.error('Devices socket closed unexpectedly');
    };

    function toggle_rf_outlet(rf_outlet_id) {
        console.log("Sending: " + rf_outlet_id);
        devicesSocket.send(JSON.stringify({'rf_outlet_toggle': rf_outlet_id}));
    }
    function toggle_rgb_light(rgb_light_id) {
        console.log("Sending: RGB Light ID = " + rgb_light_id);
        devicesSocket.send(JSON.stringify({'rgb_light_toggle': rgb_light_id}));
    }
    function open_garage_door() {
        let isExecuted = confirm("Are you sure to open garage door?");
        if(isExecuted)
        {
            console.log("Sending: Open Garage Door");
            devicesSocket.send(JSON.stringify({'open_garage_door': {} }));
        }
    }
    function close_garage_door() {
        console.log("Sending: Close Garage Door");
        devicesSocket.send(JSON.stringify({'close_garage_door': {} }));
    }
    function query_garage_door() {
        console.log("Sending: Garage Door Query");
        devicesSocket.send(JSON.stringify({'query_garage_door': {} }));
    }
    </script>
<body onload="setup_ws()">
<div class="w3-container w3-teal">
    <h1>Hardlee Automation</h1>
    <h2>RF Outlets Status</h2>
    {% if rf_outlets %}
    {% for outlet in rf_outlets %}
    <div class="w3-container w3-margin-left">
        <div class="w3-container w3-margin">
            <button style="width:100%;height:100px;" class="w3-button w3-white w3-border w3-border-blue w3-padding-large w3-round-large" onclick="toggle_rf_outlet({{outlet.id}})">
                {{ outlet.name }}: <span id="rf_outlet_state_{{outlet.id}}"> {% if outlet.is_on %} On {% else %} Off {% endif %}</span></button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h2>No RF Outlets configured.</h2>
    {% endif %}
    <h2>RGB Lights Status</h2>

    {% if rgb_lights %}
    {% for light in rgb_lights %}
    <div class="w3-container w3-margin-left">
        <div class="w3-container w3-margin">
            <button style="width:100%;height:100px;" class="w3-button w3-white w3-border w3-border-blue w3-padding-large w3-round-large"
                    onclick="toggle_rgb_light({{light.id}})">Toggle</button>
            {{ light.name }}:
            <span id="rgb_light_state_{{light.id}}"> {% if light.is_on %} On, {% else %} Off, {% endif %} red={{ light.red }},
            green={{ light.green }},  blue={{ light.blue }}</span>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h2>No RGB Lights configured.</h2>
    {% endif %}
    <div class="w3-container w3-margin">
        <div class="w3-container w3-margin">
            <h2 id="garage-status">Garage Status: Unknown</h2>
            <button style="width:100%;height:100px;" class="w3-button w3-white w3-border w3-border-blue w3-padding-large w3-round-large" onclick="open_garage_door()">Open Garage Door</button>
        </div>
        <div class="w3-container w3-margin">
            <button style="width:100%;height:100px;" class="w3-button w3-white w3-border w3-border-blue w3-padding-large w3-round-large" onclick="close_garage_door()">Close Garage Door</button>
        </div>
        <div class="w3-container w3-margin">
            <button style="width:100%;height:100px;" class="w3-button w3-white w3-border w3-border-blue w3-padding-large w3-round-large" onclick="query_garage_door()">Query Garage Door</button>
        </div>
    </div>
</div>
</body>
</html>