<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hardlee Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% load static %}
<script src="{% static 'reconnecting-websocket.min.js' %}"></script>
<script src="{% static 'socket-logic-v1.js' %}"></script>
<body onload="setup_ws()">
<div class="w3-container w3-teal" id="main-div">
    <h1>&#127960 Hardlee Automation</h1>
    {% if garages %}
    {% for garage in garages %}
    <a href="garage/">
        <h2 id="garage-status">
    {% if garage.is_open %}
    {{ garage.name }}: Garage is Open</h2></a>
    {% else %}
    {{ garage.name }}: Garage is Closed</h2></a>
    {% endif %}
    {% endfor %}
    {% else %}
    No Garage configured.
    {% endif %}
    <h2>RF Outlets Status</h2>
    {% if rf_outlets %}
    {% for outlet in rf_outlets %}
    <div class="w3-container w3-margin-left">
        <div class="w3-container w3-margin">
            <button style="width:100%;height:100px;" class="w3-button w3-white w3-border w3-border-blue w3-padding-large w3-round-large" onclick="toggle_rf_outlet({{outlet.id}})">
                {{ outlet.name }}: <span id="rf_outlet_state_{{outlet.id}}"> {% if outlet.is_on %} On {% else %} Off {% endif %}</span></button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h2>No RF Outlets configured.</h2>
    {% endif %}
    <h2>MQTT Lights Status</h2>
    {% if shelly_bulbs %}
    {% for bulb in shelly_bulbs %}
    <div class="w3-container w3-margin-left">
        <div class="w3-container w3-margin">
            <button style="width:100%;height:100px;" class="w3-button w3-white w3-border w3-border-blue w3-padding-large w3-round-large" onclick="toggle_bulb({{bulb.id}})">
                {{ bulb.name }}: <span id="bulb_state_{{bulb.id}}"> {% if bulb.is_on %} On {% else %} Off {% endif %}</span></button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h2>No Bulbs configured.</h2>
    {% endif %}
    <h2>RGB Lights Status</h2>

    {% if rgb_lights %}
    {% for light in rgb_lights %}
    <div class="w3-container w3-margin-left">
        <div class="w3-container w3-margin">
            <input id="rgb-color-input-{{light.unique_id}}" style="width:70%;height:100px;" class="w3-button w3-white w3-border w3-border-blue w3-padding-large w3-round-large"
                   type="color" value="#{{light.hexcolor}}" onchange="send_color({{light.unique_id}});"/>
            <button id="rgb-color-button-{{light.unique_id}}" style="width:20%;height:100px;" class="w3-button w3-white w3-border w3-border-blue w3-padding-large w3-round-large"
            onclick="toggle_rgb_light({{light.id}})">{% if light.is_on %}On{% else %}Off{% endif %}</button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h2>No RGB Lights configured.</h2>
    {% endif %}
</div>
</body>
</html>
